*{margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.backDrop{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top :0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: backdivdown .3s ease-in-out;
}
.myModal{
    width: 60%;
    position:fixed;
    left : 20%;
    top: 25%;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    animation: mymoduledown .5s ease-in-out;
}
.myModal h3 i {
    float: right;
    cursor:pointer;
}

@keyframes mymoduledown{
    from{
        transform: translateY(-5rem);
        opacity: 0;
    }
    to{
        trnasform:translateY(0);
        opacity: 1;
    }
}

@keyframes backdivdown{
    from{
        transform:translateY(-5rem);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}